.banner-inner__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.banner-inner__container h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.banner-inner__container p {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.banner-inner-botoes {
    margin-top: 60px;

}

.banner-inner-botoes button {
    width: 110px;
    height: 40px;
    color: black;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.banner-inner-botoes button:active {
    background: rgba(255, 255, 255, 0.554);
}

.banner-inner-botoes a {
    color: white;
    margin-left: 15.5px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.imagem-hallowen__container {
    margin-right: 5vw;
}

.imagem-hallowen {
    width: 400px;
    height: 360px;
}

@media screen and (min-width:500px) {
    .banner-inner__container {
        width: 30vw;
        padding-top: 6px;
    }

    .banner-inner__container h2 {
        font-size: 50px;
    }

    .banner-inner__container p {
        font-size: 20px;
    }

    .banner-inner-botoes button {
        width: 130px;
        height: 42px;
        font-size: 16px;
    }

    .banner-inner-botoes a {
        font-size: 16px;
    }

}