.skills_box{
    
}

.skills_box h2{
    margin-top:11vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size:30px;
}

.tec_container{
    display: flex;
    margin-top: 8vh;
    justify-content: space-between;
}

.tec_container img:nth-child(1){
   
    width: 45px;
}

.tec_container img{
   
    width: 50px;
    height: 50px;
}

.tools_container{
    display: flex;
    margin-top: 8vh;
    justify-content: space-between;
}

.tools_container img{
    width: 50px;
}

